@page "/Empleados/Ventas/NuevoClienteFormulario"
@using Reciplas.Repository
@inject NotificationService NotificationService 
@inherits OwningComponentBase<Turno> 
@inject NavigationManager NavigationManager
@inject IClienteRepository _clientRepository

<TituloPrincipal TextoPrincipal="Ventas" TextoSecundario="Clientes" /> 
@if (turno == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <RadzenTemplateForm Data="@turno" Submit="@((Models.Turno args) => { Submit(args); })">
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="6">    
 
<br><br>
                <RadzenStack>
                    <RadzenFieldset Text="Información del cliente">
                        <RadzenStack Gap="1rem">
                            <RadzenRow AlignItems="AlignItems.Center"> 
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Fecha del turno" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDatePicker Style="width: 100%;" Name="ExpiryDate"
                                                      @bind-Value=@turno.FechaTurno ShowTime="true" DateFormat="dd/MM/yyyy" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Hora del turno" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDatePicker Style="width: 100%;" Name="ExpiryDate"
                                                      @bind-Value=@turno.FechaTurno ShowTime="true" DateFormat="dd/MM/yyyy" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Estado" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenText Style="width: 100%;" Name="CardNr" @bind-Value=@turno.Estado />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Datos del Cliente" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Nombre y Apellido" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenText Style="width: 100%;" Name="CardNr" @bind-Value=@turno.cliente.NombreyApellido />
                                </RadzenColumn>  
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="DNI" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenText Style="width: 100%;" Name="CardNr" @bind-Value=@turno.cliente.DNI />
                                </RadzenColumn>  
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Estado" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDatePicker Style="width: 100%;" Name="ExpiryDate"
                                                      @bind-Value=@turno.cliente.FechadeNacimiento ShowTime="true" DateFormat="dd/MM/yyyy" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Datos del vehículo" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Modelo" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenText Style="width: 100%;" Name="CardNr" @bind-Value=@turno.cliente.vehiculo.Modelo />
                                </RadzenColumn> 
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Marca" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenText Style="width: 100%;" Name="CardNr" @bind-Value=@turno.cliente.vehiculo.Marca />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Patente" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenText Style="width: 100%;" Name="CardNr" @bind-Value=@turno.cliente.vehiculo.Patente />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Color" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenText Style="width: 100%;" Name="CardNr" @bind-Value=@turno.cliente.vehiculo.Color />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenFieldset>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow> 
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">            
            <RadzenButton ButtonType="ButtonType.Submit" Style="margin-left:15px"  Variant="Variant.Flat" Text="Guardar" Icon="check_circle" ButtonStyle="ButtonStyle.Primary"  />
            <RadzenButton ButtonType="ButtonType.Button" Style="margin-right:15px" Click=@(args => OnClick("Registro sin guardar")) Variant="Variant.Flat" Text="Volver" Icon="history" ButtonStyle="ButtonStyle.Light" />
                        
</RadzenStack>  
    </RadzenTemplateForm>
}

@code {
    DateTime value = DateTime.Now;
    Models.Turno turno = new Models.Turno(); 
    private void OnClick(string text)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Warning, Detail = text });
        NavigationManager.NavigateTo("/turnos/listado");

    }
    
async void Submit(Models.Turno arg)
{ 
    var existingCliente = await _clientRepository.GetTurnoPorNro(arg.NumeroTurno);
    if (existingCliente != null)
    { 
        NotificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Error,
            Detail = "El cliente con este DNI ya existe. No se puede agregar."
        });
    }
    else
    { 
        var client = await _clientRepository.AddTurno(arg);
        NotificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Success,
            Detail = "Cliente agregado exitosamente."
        });
            NavigationManager.NavigateTo("/turnos/listado");
    }
}


}
