diseno/Reciplas/bin/Debug/net7.0/Humanizer.dll
diseno/Reciplas/bin/Debug/net7.0/MessageDialogService.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.JSInterop.WebAssembly.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Practices.EnterpriseLibrary.Common.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Practices.EnterpriseLibrary.Data.dll
diseno/Reciplas/bin/Debug/net7.0/Radzen.Blazor.dll
diseno/Reciplas/bin/Debug/net7.0/System.Linq.Dynamic.Core.dll
diseno/Reciplas/obj/project.assets.json
diseno/Reciplas/obj/project.nuget.cache
diseno/Reciplas/obj/Reciplas.csproj.nuget.dgspec.json
diseno/Reciplas/obj/Reciplas.csproj.nuget.g.props
diseno/Reciplas/obj/Reciplas.csproj.nuget.g.targets
diseno/Reciplas/obj/Debug/net7.0/apphost
diseno/Reciplas/obj/Debug/net7.0/project.razor.json
diseno/Reciplas/obj/Debug/net7.0/Reciplas.AssemblyInfo.cs
diseno/Reciplas/obj/Debug/net7.0/Reciplas.assets.cache
diseno/Reciplas/obj/Debug/net7.0/Reciplas.csproj.AssemblyReference.cache
diseno/Reciplas/obj/Debug/net7.0/Reciplas.csproj.CoreCompileInputs.cache
diseno/Reciplas/obj/Debug/net7.0/Reciplas.csproj.FileListAbsolute.txt
diseno/Reciplas/obj/Debug/net7.0/Reciplas.dll
diseno/Reciplas/obj/Debug/net7.0/Reciplas.GeneratedMSBuildEditorConfig.editorconfig
diseno/Reciplas/obj/Debug/net7.0/Reciplas.genruntimeconfig.cache
diseno/Reciplas/obj/Debug/net7.0/Reciplas.pdb
diseno/Reciplas/obj/Debug/net7.0/staticwebassets.build.json
diseno/Reciplas/obj/Debug/net7.0/staticwebassets.development.json
diseno/Reciplas/obj/Debug/net7.0/staticwebassets.pack.json
diseno/Reciplas/obj/Debug/net7.0/ref/Reciplas.dll
diseno/Reciplas/obj/Debug/net7.0/refint/Reciplas.dll
diseno/Reciplas/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Reciplas.props
diseno/Reciplas/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Reciplas.props
diseno/Reciplas/bin/Debug/net7.0/Blazored.Modal.dll
diseno/Reciplas/bin/Debug/net7.0/Data.dll
diseno/Reciplas/bin/Debug/net7.0/Humanizer.dll
diseno/Reciplas/bin/Debug/net7.0/MessageDialogService.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.JSInterop.WebAssembly.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Practices.EnterpriseLibrary.Common.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Practices.EnterpriseLibrary.Data.dll
diseno/Reciplas/bin/Debug/net7.0/Radzen.Blazor.dll
diseno/Reciplas/bin/Debug/net7.0/Reciplas
diseno/Reciplas/bin/Debug/net7.0/Reciplas.dll
diseno/Reciplas/bin/Debug/net7.0/Reciplas.pdb
diseno/Reciplas/bin/Debug/net7.0/Reciplas.staticwebassets.runtime.json
diseno/Reciplas/bin/Debug/net7.0/System.Linq.Dynamic.Core.dll
diseno/Reciplas/obj/Reciplas.csproj.nuget.g.targets
diseno/Reciplas/obj/Debug/net7.0/Reciplas.AssemblyInfo.cs
diseno/Reciplas/obj/Debug/net7.0/refint/Reciplas.dll
diseno/Reciplas/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Reciplas.props
diseno/Reciplas/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Reciplas.props
diseno/Reciplas/bin/Debug/net7.0/Blazored.Modal.dll
diseno/Reciplas/bin/Debug/net7.0/Data.dll
diseno/Reciplas/bin/Debug/net7.0/Humanizer.dll
diseno/Reciplas/bin/Debug/net7.0/MessageDialogService.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.JSInterop.WebAssembly.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Practices.EnterpriseLibrary.Common.dll
diseno/Reciplas/bin/Debug/net7.0/Microsoft.Practices.EnterpriseLibrary.Data.dll
diseno/Reciplas/bin/Debug/net7.0/Radzen.Blazor.dll
diseno/Reciplas/bin/Debug/net7.0/System.Linq.Dynamic.Core.dll
diseno/Reciplas/obj/Reciplas.csproj.nuget.g.targets
diseno/Reciplas/obj/Debug/net7.0/Reciplas.AssemblyInfo.cs
diseno/Reciplas/obj/Debug/net7.0/refint/Reciplas.dll
diseno/Reciplas/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Reciplas.props
diseno/Reciplas/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Reciplas.props
