@page "/Empleados/Ventas/ClienteFormulario"
@inject NotificationService NotificationService 
@inherits OwningComponentBase<Usuario> 
@inject NavigationManager NavigationManager

<TituloPrincipal TextoPrincipal="Ventas" TextoSecundario="Clientes" />

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

@if (order == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@order" Submit="@((Order args) => { Submit(args); })">
    <div class="container-fluid">
            <div class="col-md-6">
                <RadzenFieldset Text="Modificación">
                    <div class="row">
                        <div class="col-md align-items-center d-flex">
                            <RadzenLabel Text="Nombre y Apellido" />
                        </div>
                        <div class="col-md-10">
                            <RadzenTextBox style="width: 100%;" Name="CardNr" />
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md align-items-center d-flex">
                            <RadzenLabel Text="Dirección" />
                        </div>
                        <div class="col-md-10">
                            <RadzenTextBox style="width: 100%;" Name="CardNr" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md align-items-center d-flex">
                            <RadzenLabel Text="Fecha de Nacimiento"/>
                            
                        </div>
                        <div class="col-md-10">
                            <RadzenDatePicker style="width: 30%;" Name="ExpiryDate" @bind-Value=@value ShowTime="true" DateFormat="dd/MM/yyyy"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md align-items-center d-flex">
                            <RadzenLabel Text="Teléfono" />
                        </div>
                        <div class="col-md-10">
                            <RadzenTextBox style="width: 100%;" Name="CardNr" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md align-items-center d-flex">
                            <RadzenLabel Text="Correo Electronico" />
                        </div>
                        <div class="col-md-10">
                            <RadzenTextBox style="width: 100%;" Name="CardNr" />
                        </div>
                    </div>
                </RadzenFieldset>


        <br>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                 <a href="/Empleados/Ventas/ventasClientes"><RadzenButton Style="margin-left:45px" Click=@(args => OnClick("Registro Modificado")) Variant="Variant.Flat" Shade="Shade.Lighter"  Text="Modificar" Icon="check_circle" ButtonStyle="ButtonStyle.Success"  /></a>
                <a href="/Empleados/Ventas/ventasClientes"><RadzenButton Style="margin-left:150px" Click=@(args => OnClick("Registro sin modificar")) Variant="Variant.Flat" Shade="Shade.Lighter"  Text="Volver" Icon="history" ButtonStyle="ButtonStyle.Secondary" /></a>
            </RadzenStack>
            
    </div>
    </div>

    </RadzenTemplateForm>
}

@code {
    bool EmployeeIDVisible = false;   

    DateTime value = DateTime.Now;
 
    Order order = new Order()
    { 
    };


    void Submit(Order arg)
    {
        //
    }
    private void OnClick(string text)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Detail = text });
    }
    

}
