@page "/Empleados/Ventas/NuevoClienteFormulario"
@using Reciplas.Repository
@inject NotificationService NotificationService 
@inherits OwningComponentBase<Usuario> 
@inject NavigationManager NavigationManager
@inject IClienteRepository _clientRepository

<TituloPrincipal TextoPrincipal="Ventas" TextoSecundario="Clientes" /> 
@if (cliente == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <RadzenTemplateForm Data="@cliente" Submit="@((Models.Cliente args) => { Submit(args); })">
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="6">    

                <RadzenButton style="margin-left:380px" Click="@(args => NavigationManager.NavigateTo("/Empleados/Ventas/AgregarPedidoCliente"))" TextAlign="TextAlign.Center" Icon="add_circle_outline" Text="Agregar Pedido" Color="Color.Warning"  />
<br><br>
                <RadzenStack>
                    <RadzenFieldset Text="Información del cliente">
                        <RadzenStack Gap="1rem">
                            <RadzenRow AlignItems="AlignItems.Center"> 
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Nombre y Apellido" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" @bind-Value=@cliente.Nombre />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="DNI" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenNumeric Style="width: 100%;" Name="CardNr" @bind-Value=@cliente.DNI />
                                </RadzenColumn> 
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Dirección" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" @bind-Value=@cliente.Direccion />
                                </RadzenColumn>  
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Teléfono" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenNumeric Style="width: 100%;" Name="CardNr" @bind-Value=@cliente.Telefono />
                                </RadzenColumn> 
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Fecha de Nacimiento" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDatePicker Style="width: 100%;" Name="ExpiryDate"
                                    @bind-Value=@cliente.FechadeNacimiento ShowTime="true" DateFormat="dd/MM/yyyy" />
                                </RadzenColumn> 
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenFieldset>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow> 
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">            
            <RadzenButton ButtonType="ButtonType.Submit" Style="margin-left:15px" Click=@(args => OnClick("Registro Guardado")) Variant="Variant.Flat" Text="Guardar" Icon="check_circle" ButtonStyle="ButtonStyle.Primary"  />
            <RadzenButton ButtonType="ButtonType.Button" Style="margin-left:auto" Click=@(args => OnClick("Registro sin guardar")) Variant="Variant.Flat" Text="Volver" Icon="history" ButtonStyle="ButtonStyle.Light" />
           </RadzenStack> 
    </RadzenTemplateForm>
}

@code {
    DateTime value = DateTime.Now;
    Models.Cliente cliente = new Models.Cliente();

    async void Submit(Models.Cliente arg)
    {
        var client = await _clientRepository.AddCliente(arg);

        NavigationManager.NavigateTo("/Empleados/Ventas/ventasClientes");
    }
    private void OnClick(string text)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Warning, Detail = text });
    }
    

}
