@page "/Empleados/Produccion/ModificarPedidoCliente"
@using Reciplas.Models;
@inject NotificationService NotificationService
@inherits OwningComponentBase<Usuario>
@using System.Collections.Generic;
@inject DialogService DialogService
@inject NavigationManager NavigationManager

<TituloPrincipal TextoPrincipal="Producción" TextoSecundario="Modificacion de Pedidos" />
<div>
@if (order == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@order" Submit="@((Order args) => { Submit(args); })">
        <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack>
                    <RadzenFieldset Text="Información del Pedido">
                        <RadzenStack Gap="1rem">
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="N°Pedido" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Nombre" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Descripcion" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="N°Empleado" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Codigo de Venta" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Fecha" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDatePicker Style="width: 100%;" Name="ExpiryDate"
                                    @bind-Value="order.ExpiryDate" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenLabel Text="Estado" />
                                 </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDropDown @bind-Value="order.Country" Placeholder="-" Data="@countries"
                                    Style="width: 100%;" TextProperty="Name" ValueProperty="Id" Name="Country">
                                </RadzenDropDown>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenFieldset>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>


        
    </RadzenTemplateForm>
}
<br>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
            <a href="/produccion"><RadzenButton Style="margin-left: 15px" Click=@(args => OnClick("Registro Agregado")) Text="Agregar" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"/></a>
            <a href="/produccion"><RadzenButton Click=@(args => OnClick("No se guardo el Registro")) ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Icon="cancel" Text="Cancel"/></a> 
        </RadzenStack>
        <br>

    </div>
@code { 
    public class Order
    {
        public DateTime ExpiryDate { get; set; }
        public int Country { get; set; } 
    }

    public class Country
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

    private void OnClick(string text)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Detail = text });
    }
    Order order = new Order()
        { 
        };

    List<Country> countries = new List<Country>()
{
new Country() { Id = 1, Name = "En fabricación" },
new Country() { Id = 2, Name = "Listo para entrega" }
};

    void Submit(Order arg)
    {
        //
    } 
}
