@page "/Empleados/Ventas/ClienteFormulario"
@inject NotificationService NotificationService 
@inherits OwningComponentBase<Usuario> 
@inject NavigationManager NavigationManager

<TituloPrincipal TextoPrincipal="Ventas" TextoSecundario="Clientes" />  
@if (order == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@order" Submit="@((Order args) => { Submit(args); })">
    <RadzenRow Gap="2rem" Class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="6">     
                <RadzenStack>
                    <RadzenFieldset Text="Modificación">
                        <RadzenStack Gap="1rem">
                            <RadzenRow AlignItems="AlignItems.Center"> 
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Nombre y Apellido" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Dirección" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn>  
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Teléfono" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 100%;" Name="CardNr" />
                                </RadzenColumn> 
                                <RadzenColumn Size="12" SizeMD="4">
                                    <RadzenLabel Text="Fecha de Nacimiento" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenDatePicker Style="width: 100%;" Name="ExpiryDate"
                                    @bind-Value=@value ShowTime="true" DateFormat="dd/MM/yyyy" />
                                </RadzenColumn> 
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenFieldset>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

        <br>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                 <a href="/ventas"><RadzenButton Style="margin-left:15px;" Click=@(args => OnClick("Registro Modificado")) Variant="Variant.Flat"  Text="Modificar" Icon="check_circle" ButtonStyle="ButtonStyle.Success"  /></a>
                <a href="/ventas"><RadzenButton  Click=@(args => OnClick("Registro sin modificar")) Text="Volver" Icon="refresh" ButtonStyle="ButtonStyle.Light" /></a>
            </RadzenStack> 
    </RadzenTemplateForm>
}

@code {
    bool EmployeeIDVisible = false;   

    DateTime value = DateTime.Now;
 
    Order order = new Order()
    { 
    };


    void Submit(Order arg)
    {
        //
    }
    private void OnClick(string text)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Detail = text });
    }
    

}
