<h2 class="text-primary ali rz-color-primary">
    @TextoPrincipal @* <small class="text-muted">- @TextoSecundario -</small> *@
</h2>

<p />

@code {
    [Parameter]
    public string TextoPrincipal { get; set; } = string.Empty;
    // [Parameter]
    // public string TextoSecundario { get; set; } = string.Empty;
}