@* <h3 class="text-primary">
    @TextoPrincipal <small class="text-muted">- @TextoSecundario -</small>
</h3>

<p />

@code {
    [Parameter]
    public string TextoPrincipal { get; set; } = string.Empty;
    [Parameter]
    public string TextoSecundario { get; set; } = string.Empty;
} *@